source https://api.nuget.org/v3/index.json

storage: none
framework: net50, netstandard2.0, netstandard2.1

nuget FSharp.Core 5.0.2
nuget Expecto
nuget FsCheck 2.16.0 // 2.14.0 for net 3.1
nuget Expecto.FsCheck
nuget System.Runtime.Numerics
nuget FsLexYacc 10.2.0
nuget FsLexYacc.Runtime 10.2.0
nuget Argu 6.1.1

group Docs
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: symlink

  nuget FSharp.Core 5.0.2
  nuget FSharp.Compiler.Service ~> 40.0.0 // 35.0 for net 3.1
  nuget FSharp.Formatting ~> 11.2.0 // 4.1 for net 3.1
  nuget Newtonsoft.Json

// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json

  framework: netstandard2.0
  storage: none

  nuget FSharp.Core 5.0.2 // https://github.com/fsharp/FAKE/issues/2001
  nuget Fake.Core.Target
  nuget Fake.Core.Process
  nuget Fake.DotNet.Cli
  nuget Fake.Core.ReleaseNotes
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.Core.Environment
  nuget Fake.Core.UserInput
  nuget Fake.IO.FileSystem
  nuget Fake.DotNet.MsBuild
  nuget Fake.Api.GitHub